{% extends 'base.html' %}
{% block head %}
    <title>TESTINGSTILL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
    </style>
{% endblock %}

{% block body %}
    <!-- Top menu -->
    <!-- <div class="w3-top"> <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto"> -->
    <!--         <div class="w3-center w3-padding-16">Trek'd</div> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- !PAGE CONTENT! -->
    <div>
        <table>
            <tr>
                {% for column in columns %}<th>{{ column.name }}</th>{% endfor %}
            </tr>
            {% for task in tasks %}
                <tr>
                    {% for col_name in columns %}<td>{{ task[col_name.name] }}</td>{% endfor %}
                    <td>
                        <a href="/admin/delete/{{ table_name }}/{{ task[id_column] }}">Delete</a>
                        <a href="/admin/update/{{ table_name }}/{{ task[id_column] }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="/admin/add/{{ table_name }}">Add</a>
        <a href="/admin">Back</a>
        <a href="/">Home</a>
    </div>
{% endblock %}
